<!-- COMPONENTE: Header e Navegação -->
<header id="header">
  <div class="container flex-between">
    <div class="logo">CME</div>
    <nav>
      <ul>
        <li><a href="index.html" class="nav-link">Home</a></li>
        <li><a href="pages/quem-somos/index.html" class="nav-link">Quem Somos</a></li>
        <li><a href="pages/agenda-eventos/index.html" class="nav-link">Agenda/Eventos</a></li>
        <li><a href="pages/conteudos/index.html" class="nav-link">Conteúdos</a></li>
        <li><a href="pages/midia/index.html" class="nav-link">Mídia</a></li>
        <li><a href="pages/contato/index.html" class="nav-link">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
